# Portfolio DataScience Matthijs van Gastel - 2186230

In [1]:
import pandas as pd
import seaborn as sns

### Assignment 1

### Assignment 2

### Assignment 3

Perform a univariate analysis on all the categorical data of the penguins dataset.

In [ ]:
penguins = sns.load_dataset("penguins")
penguins.head()

In [ ]:
penguins['sex'].value_counts(dropna=False).plot(kind='bar')

### Assignment 4

Look online for a datset that you personally find interesting to explore. It can be about any topic that you find interesting: sports, games, software development, etc.

In [6]:
gameData = pd.read_csv('Video_Games.csv', sep=',')
gameData.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

### Assignment 5

In [ ]:
- Download lifeExpectancyAtBirth.csv from Brightspace (original source).
- Move the file to the same folder as the Notebook that you will be working in.
- Load the dataset in your Notebook with the following code: lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')
- Look at the dataset with the .head() function.
- Filter the dataframe: We only want the life expectancy data about 2019 and 'Both sexes'
- Use this dataframe to perform a univariate analysis on the life expectancy in 2019.
- Which five countries have the highest life expectancy? Which five the lowest?

In [ ]:
lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')
lifeExpectancy.head()

In [ ]:
lifeExpectancyFilter = (lifeExpectancy['Period'] == 2019)&(lifeExpectancy['Dim1']=='Both sexes')
lifeExpectancy[lifeExpectancyFilter]

### Assignment5

Perform a univariate analysis on at least 2 columns with categorical data and on at least 2 columns with numerical data in the dataset that you chose in portfolio assignment 4.